body {
    background-color: #eeeaed; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 50px; /* Add padding to the main content */
}

header {
    background-color: #fbfbfb;
    color: #f8e5f7;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 280px;
}

nav {
    text-align: center; /* Center align the content within the nav */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center; /* Center align the ul */
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f312b0;
}
